<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/base :: css"></head>
    <body>
        <header th:replace="includes/base :: navbar"></header>

        <main role="main " class="container">
            <div th:replace="includes/base :: head-content"></div>
            <div class="container mt-5">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="mb-4">Store Item</h5>

                        <form method="POST" action="#" th:action="@{/inventory/store}" th:object="${inventory}">
                            <input type="hidden" th:field="*{id}" />
                            <div class="form-group">
                                <label for="example-inventory-name">Insert Product Name</label>
                                <input th:field="*{name}" type="text" class="form-control" id="example-inventory-name" aria-describedby="emailHelp" placeholder="Masukkan Nama Barang" required>
                                <small id="emailHelp" class="form-text text-muted">Product name must contain at least 4 characters.</small>
                            </div>

                            <div class="form-group">
                                <label for="example-inventory-desc">Explain About The Product</label>
                                <textarea th:field="*{description}" rows="3" class="form-control" id="example-inventory-desc" aria-describedby="emailHelp" placeholder="Deskripsi Barang"></textarea>
                                <small id="emailHelp" class="form-text text-muted">You can describe the product.</small>
                            </div>
                            
                            <div class="form-group">
                                <label for="example-inventory-stock">Insert Stock</label>
                                <input th:field="*{stock}" type="text" class="form-control" id="example-inventory-stock" aria-describedby="emailHelp" placeholder="Masukkan jumlah" required>
                                <small id="emailHelp" class="form-text text-muted">You need to input product stock here!</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="includes/base  :: footer"></div>
        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>
